@charset "utf-8";

/* --------------- Color Module styling
	Where to put things? If we add support for the color module
	this is where we can constrain it to just those items we want.
	Here for now.
 ------------ */

html,
body.overlay {
	color: #3b3b3b;
    background-color: #fff;
  	background-color: rgba(255,255,255,1) 
}	
body {
	color: #fff;
	background-color: #000000;
	background-color: rgba(0,0,0,1)
}

header hgroup .site-name a {
	color: #ffeb0b;
}
header hgroup .site-name a:hover,
header hgroup .site-name a:focus {
  color: #ffff0b;
}
header hgroup .site-name a:active {
  color: #ff8b00;
}

.region-home-button {
	background-color: #080000;
}
.region-home-button a {
  color: transparent;
}
.region-home-button a a:visited {
	color: #fff;
}
.region-home-button a a:hover{
    color: #ff3b00;
}
.region-home-button a a:focus{
    color: #fff700;
}
.region-home-button a a:active {
    color: #800000;
}
#secondary-menu {
	color: #fff;
}

#viewportB {
	color: white;
}
.sidebar {
	color: #000;
}
#breadcrumb {
	color: black;
	background-color: transparent;
}
#content-column {
	color: black;
	background-color: #fffdf7;
}


.tabs ul.primary li a.active {
  background-color: #ffffff;
}

footer {
  background-color: transparent;
  color: #fff;
  color: rgba(255,255,255,0.65);
}
footer a {
  color: #fcfcfc;
  color: rgba(255,255,255,0.8);
}
footer menu li a {
	color: #0000ee;
	color: rgba(0,0,238,0.8);
}
footer menu li a:hover {
	color: #e03e0d;
	color: rgba(224,62,13,0.8);
}
footer a:hover,
footer a:focus {
  color: #fefefe;
  color: rgba(255,255,255,0.95);  
}
footer #site-name a {
	color: #ffff00;
}
footer #site-name a:hover,
footer #sitename a:focus {
  color: #ffd700;
}
footer #site-name a:active {
  color: #ff8b00;
}
.region-footer-bottom {
	background-color: transparent;
}
.region-footer-bottom .block-system-powered-by {
	background-color: transparent;	
}