@charset "utf-8";

/* --------------- Menu styling
	Where to put things? Menus are pretty important so we
	separate them out, for now.
 ------------ */

/* The Home button and short-menu areas don't contain lists, but are menus
 nevertheless and their link styling should be here  */
.region-home-button menu a {	
	font-family: Monaco, monospace, sans-serif;
    font-size: xx-small;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
	text-transform: lowercase;
}
.region-home-button menu a,
.region-home-button menu a:visited {
	padding: 1.615em 1.0em 1.615em 1.0em;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-image: 	url(../icons/64HALgrey.png);
	-webkit-border-radius: 3.462em;
	-moz-border-radius: 3.462em;
	border-radius: 3.462em; 
	border-width: 4px;
	border-style: solid;
	border-color: #cfcfcf;
}
.region-home-button menu a:hover,
.region-home-button menu a:focus { 
	background-image: url(../icons/64HALblue.png);
	border-color: #61dfa1;
}
.region-home-button menu a:active { 
	background-image: url(../icons/64HALyellow.png);
	border-color: #0000ff;
}
.region-menu-bar .menu li {
	float: left; /* LTR */
	list-style: none;
}
.region-menu-bar .menu a {
	color: #000;
	text-decoration: none;
	text-shadow: 0 1px #009900;
}
.region-menu-bar .menu a:hover,
.region-menu-bar .menu a:focus {
  background: #06fa0e;
  background: rgba(6, 250, 14, 0.95);
}
.region-menu-bar .menu a:active {
  background: #fff;
  background: rgba(255, 255, 255, 1);
}

#menu-box menu a {
	margin: 0;
}
#menu-box menu a {
	font-weight: bold;
	line-height: 2.0em;
	padding: 2.3em 0.8em 0.2em 0.8em; 
	text-decoration: none;
	text-shadow: 0 1px #eee;
	-khtml-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}
#menu-box menu a:hover,
#menu-box menu a:focus,
#menu-box menu a:active {
	background-color: #ffbf00;
	background-color: rgba(255, 191, 0, 0.9);
}
#menu-box menu a:active {
	background-color: #ffff00;
	background-color: rgba(255, 255, 0, 0.9);
}
/**                   Menu in directory region 
 **  This is really frail because of dependance on font and icon
 **  sizes. It would be nice if I could come up with a formula or
 **  could calculate on the fly. May have to go to images with
 **  embedded text to have fine control. Or just use pixels for now.
*/

#viewportB .menu {
	font-weight: 400;
	font-size: 20px;
	padding: 0;
}
#viewportB .menu li {
	height: 30px;
	display: inline-block;
	list-style: none;
	padding: 0;
}
#viewportB  ul.menu a {
	color: #fff;
	line-height: 7.0;
	padding: 48px 10px 0 10px;
	text-decoration: none;
	text-shadow: 0 3px #000;
	-khtml-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #fff;
  	background-color: rgba(255, 255, 255, 0.0);
}
#viewportB .menu a:hover,
#viewportB .menu a:focus {
	background-color: #ffbf00;
	background-color: rgba(255, 191, 0, 0.9);
}
#viewportB .menu a:active {
	background-color: #ffff00;
	background-color: rgba(255, 255, 0, 0.9);
}
/* --------------- Primary Menu Links ------------ */

#primary-menu {
  clear: both;
}

#primary-menu-links a {
  color: #d9d9d9;
  padding: 0.6em 1em 0.4em;
}
#primary-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 15px;
}
#primary-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#primary-menu-links a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: left; /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#primary-menu-links a:hover,
#primary-menu-links a:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
}
#primary-menu-links a:active {
  background: #b3b3b3;
  background: rgba(255, 255, 255, 1);
}
#primary-menu-links li a.active {
  border-bottom: none;
}
.featured #primary-menu-links li a:active,
.featured #primary-menu-links li a.active {
  background: #f0f0f0;
  background: rgba(240, 240, 240, 1.0);
}
#primary-menu a:active {
	background-color: #ffbf00;
	background-color: rgba(255, 191, 0, 0.9);
}
/* --------------- Secondary Menu ------------ */
#secondary-menu {
	margin: 0;
}
#secondary-menu li {
	display: inline;
	margin: 0;
}
#secondary-menu{
  float: right; /* LTR */
  font-size: 1em;
}
#secondary-menu ul {
  float: right; /* LTR */
}
#secondary-menu li {
	padding: 0 0.3em; 
}
#secondary-menu ul li a{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}
#secondary-menu a:hover,
#secondary-menu a:focus {
  text-decoration: underline;
}

/** add icons for menu items here. It would be better if Menu_icons
 ** was  ported to drupal 7 but until then brute force will have to do.
 ** And there is opportunity here to be creative about 'directory'
 ** presentation
*/


/* --------------- Menu Icons ------------ */

#menu-box menu a[title ^= "Home:"] {
   background-image: url(../icons/32blhome.png);
   background-position: center top;
   background-repeat: no-repeat;
}
#menu-box menu a[title ^="Contact Us:"] {
   background-image: url(../icons/32_message.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
#menu-box menu a[title ^="Sign in:"] {
   background-image: url(../icons/32enteri.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
#menu-box menu a[title ^="Sign out:"] {
   background-image: url(../icons/32enterb.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
.region-directory .menu a:link,
.region-directory .menu a:visited {
   background-image: url(../icons/48_Circle_Green.png);
   background-position: center top;
   background-repeat: no-repeat;
} 
.region-directory .menu a:hover,
.region-directory .menu a:active,
.region-directory .menu a:focus {
   background-image: url(../icons/48_Circle_Blue.png);
   background-position: center top;
   background-repeat: no-repeat;
} 
.region-directory .menu a[title ^="Blogs:"] {
   background-image: url(../icons/48ablog.png);
   background-position: center top;
   background-repeat: no-repeat;
}
.region-directory .menu a[title ^="Books:"] {
   background-image: url(../icons/48bookcase.png);
   background-position: center top;
   background-repeat: no-repeat;   
}
.region-directory .menu a[title ^="Forums:"] {
	background-image: url(../icons/48discussion.png);
	background-position: center top;
	background-repeat: no-repeat;   
}
.region-directory .menu a[title ^="Search:"] {
   background-image: url(../icons/48find.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
.region-directory .menu a[title ^="Contact Me:"] {
   background-image: url(../icons/48_message.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
.region-directory .menu a[title ^="Add content:"] {
   background-image: url(../icons/48addtofile.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
.region-directory .menu a[title ^="Recent content:"] {
   background-image: url(../icons/48new.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
.region-directory .menu a[title ^="Compose tips:"] {
   background-image: url(../icons/48edit.png);   
   background-position: center top;
   background-repeat: no-repeat;
}
  .region-directory .menu a[title ^="Polls:"] {
   background-image: url(../icons/48polls.png);   
   background-position: center top;
   background-repeat: no-repeat;   
}
