@charset "utf-8";

/* --------------- Layout/layout styling
	Where to put things? This file structures the overall
	site layout(major site elements: where to put banners,
	footers, sidebars, main content, etc.) and also to style
	them. This, essentially, lays out and styles the themes defined
	regions.
 ------------ */
/* ------------------------Structure---------------------------------
**                  HTML element is 'page-wrapper'                 **
**   |-----------------------------------------------------------| **
**   |              BODY element is 'page'                       | **
**   ||---------------------------------------------------------|| **
**   ||                  Header stacked on top                  || **
**   ||         |------------------------------------|          || **
**   ||         |            Home Button             |          || **
**   ||         |------------------------------------|          || **
**   ||---------------------------------------------------------|| **
**   ||                  Menubar stacked next                   || **
**   ||---------------------------------------------------------|| **
**   ||                  Messages|Help stacked next             || **
**   ||---------------------------------------------------------|| **
**   ||                  Featured stacked next                  || **
**   ||---------------------------------------------------------|| **
**   ||                  Highlighted stacked next               || **
**   ||---------------------------------------------------------|| **
**   ||                  One or more columns                    || **
**   ||           |--------------------------------|            || **
**   ||           |                                |            || **
**   ||  sidebar  |       'Content' region         |  sidebar   || **
**   ||           |                                |            || **
**   ||           |--------------------------------|            || **
**   ||           |          short menu            |            || **
**   ||---------------------------------------------------------|| **
**   ||                        Footer                           || **
**   ||---------------------------------------------------------|| **
**   ||     Footer-top-left      |    Footer-top-right          || **
**   ||---------------------------------------------------------|| **
**   ||     Footer-bottom-left   |    Footer-bottom-right       || **
**   ||---------------------------------------------------------|| **
**   |-----------------------------------------------------------| **
**                                                                 **
** ------------------------------------------------------------------
*/

html	{
 /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	height: 100%;
	min-width: 838px;
	margin: 10px;
	padding: 0;
}
/* If using html and body as wrappers, overlay-parent.css resets container origin to 0,0, breaking layout */
html.overlay-open body {
	overflow: auto;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	margin: -18px 0 0 -20px;
	padding: 0;
}
body	{
	font-size: 81.3%; /* 13px */
	height: auto;
	min-height: 100%;
	margin: 0; 
	border-width: 10px;
	border-style: double;
	border-color: #c9c0bb; /* Pale Silver */
	border-color: rgba(201, 192, 187, 1.0);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 20px 30px;
}
/* ------------------ Header ------------------ */

header {
	width: 100%;
	min-width: 768px;
}
header #logo {
	float: left;
	margin: 0 1em 0 0;
	padding: 0 0;
}
header hgroup {
	min-width: 698px;
	height: auto;
}
header hgroup .site-name a {
	float: left;
	margin: 0 1em;
	font-size: 1.385em;
	line-height: 1.4em;
	font-weight: normal;
}
header hgroup .site-slogan {
	float: right;
	margin: .4em 1em; 
	text-align: right;
	font-size: 0.929em;
	word-spacing: 0.1em;
	font-style: italic;
}
/**                      Control region                */

body.toolbar .region-home-button {
	margin: 0;
}
.region-home-button {
	min-width: 698px;
	width: 100%;
	margin: 0;
}
.region-home-button {
	background-color: transparent;
	padding: 0em .2em 1.9em .2em;
	-moz-border-radius: 0.923em;
	-webkit-border-radius: 0.923em;
	border-radius: 0.923em;
	-moz-box-shadow: 6px 6px 12px rgba(112, 128, 124, 0.9), -6px 6px 12px rgba(112, 128, 124, 0.9);
	-webkit-box-shadow: 6px 6px 12px rgba(112, 128, 124, 0.9), -6px 6px 12px rgba(112, 128, 124, 0.9);
	box-shadow: 6px 6px 12px -3px rgba(112, 128, 124, 0.9), -6px 6px 12px -3px rgba(112, 128, 124, 0.9);	
}

/*  Use CSS3 to keep icons display from center out       */
.flexbox .region-home-button {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center; 
}
.no-flexbox #center {
	width: 100%;
	margin: 0 0;
    text-align: center;
}
/* -------------------Menu Bar ---------------------- */
.region-menu-bar {
	font-size: 1.077em;
	margin: 10px 0px 5px 0;
	padding: 5px 5px;
	background-color: #e0ffdf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	border-width: 3px;
	border-style: solid;
	border-color: #cfcfcf;
}
/* ----------------- Featured ----------------- */

.region-featured {
	padding: 1.538em 0 3.462em;
	margin: 0;
	background-color: #fff;
	background-color: rgba(255,255,255, 0.7);
}

/* --------------- Highlighted ---------------- */
.region-highlighted {
	background-color: #fff;
  	margin: 5px 0;
	padding: 5px 5px; /* LTR */
}
/* ---------------- Messages  ----------------- */

.messages {
	padding: 1.538em 0 0.385em;
	margin: 0 auto;
}
div.messages {
	font-size: 1.077em;
	margin: 8px 15px;
	background-color: #fad8d9;
    background-color: rgba(250, 231, 217, 1.0);
}
.featured .messages {
	background: #f0f0f0;
	background: rgba(30, 50, 10, 0.08);
}
/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 2.308em;
}
/* ------------------ Main Content ------------------ */
#column-container {
	width: 100%;
	min-height: 100%;
	margin: 0;
	margin-top: 25px;
}
/* ------------------ Viewport content ------------------ */
#viewportA {
	width: 100%;
	height: auto;
	min-width: 560px;
	min-height: 240px;
	margin: 0;
	padding: 0 5px;
}
#viewportB {	
	width: 100%;
	height: auto;
	min-width: 560px;
	min-height: 240px;
	margin: 0;
	padding: 0;
}

/* ------------------ Sidebar ----------------- */
.sidebar {
	padding: 5px 5px;
	margin: 0;
	background-color: #ccc;
}
.sidebar .block {
	border: 1px solid;
 	padding: 10px 10px;
	margin: 0 0 1.538em;
}
.region-sidebar-first {
	float: left;
	width: auto;
}
/* ------------------Content area----------------*/
#content-column {
	height: auto;
	margin: 0;
	padding: 0;
	border-width: 5px;
	border-style: double;
	border-color: #c9c0bb;
	border-color: rgba(201, 192, 187, 1.0);
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
#breadcrumb {
	margin:  0;
	padding: 7px 4px 7px 4px;
}
.region-directory {
	min-height: 240px;
	color: white;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-image: url(../image/bbi.png);
}
.region-directory {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 13px;
	-moz-border-radius-topleft: 13px;
	border-top-left-radius: 13px;
	-webkit-border-top-right-radius: 13px;
	-moz-border-radius-topright: 13px;
	border-top-right-radius: 13px;
}
#short-menu {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
#short-menu {
	border-bottom-width: 5px;
	border-bottom-style: double;
	border-bottom-color: black;
	border-bottom-color: rgba(0, 0, 0, 1); 
	color: black;
	padding: 2.5em 0 0 0;
	background-color: #0400cb;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.0,red),color-stop(0.5,orange),color-stop(1.0,blue));
	background-image: -moz-linear-gradient(left, red, orange 50%, blue);
	background-image: -o-linear-gradient(left, red, orange 50%, blue);
	background-image: linear-gradient(left, red, orange 50%, blue);
	-webkit-border-bottom-left-radius: 13px;
	-moz-border-radius-bottomleft: 13px;
	border-bottom-left-radius: 13px;
	-webkit-border-bottom-right-radius: 13px;
	-moz-border-radius-bottomright: 13px;
	border-bottom-right-radius: 13px;
}
.flexbox #menu-box {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
}
.no-flexbox #menu-box  {
	width: 100%;
	height: auto;
	padding: 0 0;
	margin: 0 0;
	text-align: center;
}
.region-sidebar-second {
	float: right;
	width: auto;
}
/* ------------------ Footer ------------------ */
footer {
	width: 100%;
	min-width: 768px;
	padding: 0 0;
	margin: 10px 0 0 0;
}
#footer-top,
#footer-bottom {
	margin: 0;
}
.region-footer-top-left,
.region-footer-top-right,
.region-footer-bottom-left,
.region-footer-bottom-right {
	width: 50%;
	margin: 0;
	padding: 0;
}
.region-footer-top-right,
.region-footer-bottom-right {
	float: right;
}
/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay #skip-link,
.overlay .region-page-top,
.overlay header,
.overlay .region-featured,
.overlay #sidebar-first {
  display: none;
}
